<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- Environment settings -->
    <add key="ServerAddress" value="https://www.infusion.com/" />
    <add key="ApiServerAddress" value="https://xkcd.com/" />
    <add key="LocalEnvironment" value="false" />
    <!-- Test user credentials -->
    <add key="TestUser" value="Tester" />
    <add key="TestUserPassword" value="test" />
    <!-- Selenium Webdriver options -->
    <add key="DefaultBrowser" value="Chrome" />
    <add key="DefaultPageLoadTimeoutInSeconds" value="60" />
    <add key="WaitElementTimeoutInSeconds" value="30" />
    <add key="ImplicitWaitInMiliseconds" value="30" />
    <!-- Appium options -->
    <add key="AppFileName" value="selendroid-test-app-0.17.0.apk" />
    <add key="AppAndroidPackageName" value="io.selendroid.testapp" />
    <add key="EmulatorName" value="AppiumExample" />
    <add key="EmulatorCmdOptions" value="-gpu host -netfast -noaudio -no-boot-anim -no-snapshot-load -no-snapshot-save -camera-back none -camera-front none" />
    <!-- set "-no-window" option to have headless setup
    <add key="EmulatorCmdOptions" value="-no-window -gpu host -netfast -noaudio -no-boot-anim -no-snapshot-load -no-snapshot-save -camera-back none -camera-front none" /> -->
    <add key="EmulatorReadyTimeoutInSeconds" value="180" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>